body {
  background-color: rgb(182, 229, 183);
}

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 500px;
  width: 350px;
  border-radius: 20px;
  background-color: white;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logintitle {
  padding-top: 40px;
  font-family: sans-serif;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

input , select{
  width: 250px;
  height: 40px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
}

input:focus {
  border-bottom: 2px solid #4CAF50;
}

label {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #777;
  transition: all 0.3s ease;
}

input:focus~label,
input:valid~label {
  top: -12px;
  font-size: 12px;
  color: #4CAF50;
}

button {
  width: 100px;
  height: 40px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  margin: 10px;
}

button:hover {
  background-color: #45a049;
}




.continue-with-google {
  margin-top: px;
}

.continue-with-google button {
  width: 250px;
  height: 40px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.continue-with-google button:hover {
  background-color: #eaddd8;
}

.terms {
  color: black;
}

.terms input[type="checkbox"] {
  transform: scale(0.4);
 
  margin-right: 1px;
  
}

.buttons {
  display: flex;
  justify-content: space-between;

}


#terms {
  margin-top: 386px;
  margin-left: 530px;
}


.tacbox input[type="checkbox"] {
  transform: scale(0.4);
  
  margin-left: -240px;
}